*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #D0D2D1;
}
.main{
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    margin: 70px 250px;
    /* border: 1px solid black; */
    padding-top: 10px;
   box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    /* line-height: 20px; */
}

.head{
    font-size: 50px;
    color: #353535;
}

form .inputform input {
    width:190px;
    height: 20px;
    transform: scale(2.23,3);
    /* border: 1px solid paleturquoise; */
    padding: 10px;
    text-decoration: none;
    letter-spacing: 0.5px;
    /* margin-top: 100px; */
    color: #6E6E70;

}

input{
    margin: 70px;
}